<div class="title">
    Tenants page
</div>

<button class="my-btn my-btn-nav" (click)="navigateTo('/login')">
    go to auth
</button>

<div class="title">
    Current Tenant
</div>

<div [kbmLoading]="!!!(authRepository.currentTenant$ | async)" class="tenant">
    <div *ngIf="showTenant">
        {{authRepository.currentTenant$ | async | json}}
    </div>
</div>

<form [formGroup]="formGroup">
    <kbm-switch formControlName="switch" (valueChange)="toggleTenant($event)">
        <div class="label">
            Toggle Tenant
        </div>
    </kbm-switch>
</form>

<button (click)="resetForm()">Reset</button>