<div mat-dialog-title>{{data.title}}</div>

<div mat-dialog-content>
  <ng-container *ngIf="tpl else msg">
    <ng-container [ngTemplateOutlet]="tpl" [ngTemplateOutletContext]="createContext()"></ng-container>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="false">
    {{data.declineBtnTxt}}
  </button>
  <button mat-flat-button [mat-dialog-close]="true">
    {{data.confirmBtnTxt}}
  </button>
</div>
<ng-template #msg>
  <div>{{data.msg}}</div>
</ng-template>
